@import url("/assets/css/layout.css");
@import url("/assets/css/perfil/sidebar.css");
@import url("/assets/css/agendamentos.css");

@media (max-width: 820px) {
    .sidebar {
        width: 80px;
        padding: 10px 10px;
        margin-top: 60px;
        transition: width 0.3s ease;
    }

    .sidebar.sidebar-expandida {
        width: 200px; 
    }

    .sidebar-header {
        flex-direction: column;
        align-items: center;
    }

    .sidebar-header img {
        width: 30px;
    }

    .sidebar-header h2 {
        display: none;
    }

    .sidebar .item-description{
        width: 0px;
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1rem;
        transition: width 0.3s ease;
    }

    .sidebar ul li a {
        padding: 10px;
        justify-content: center;
        gap: 0;
    }

    .sidebar ul li a span {
        font-size: 24px;
    }

    .sidebar ul li a span:nth-child(2) {
        display: none;
    }

    .sidebar.sidebar-expandida {
        width: 250px;
    }

    .sidebar.sidebar-expandida .item-description {
        width: auto; /* Faz o texto da descrição ser exibido */
    }

    .sidebar.sidebar-expandida ul li a {
        justify-content: flex-start;
    }

    /* Mostrar o texto quando a sidebar estiver expandida */
    .sidebar.sidebar-expandida ul li a span:nth-child(2) {
        display: inline-block;
        /* Mostra o texto ao expandir */
    }

    .sidebar.sidebar-expandida .submenu {
        display: block;
    }

    .conteudo {
        margin: 61px 10px 0 78px;
    }
}

@media (max-width: 480px) {
    .sidebar{
        width: 60px;
    }
    .sidebar ul li a {
        padding: 8px;
    }

    .sidebar ul li a span {
        font-size: 20px;
    }

    .conteudo {
        margin: 60px 0 0 60px;
    }

    .section{
        margin: 0;
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        margin-top: 0;
        font-size: 1.2em;
    }

    .btn-editar {
        margin-left: 0; /* Remover o espaçamento em telas menores */
        padding: 5px;
        font-size: 12px;
    }

    .btn-salvar,
    .btn-trocar-senha,
    .btn-excluir,
    .btn-cancelar {
        padding: 10px;
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }
}
