h1 {
    font-weight: 800;
    color: #1D3557;
    margin-left: 20px;
}

.meu-perfil {
    display: flex;
    flex-direction: column;
}

.meu-perfil .perfil-header {
    display: flex;
    align-items: center;
}

.upload-avatar {
    display: inline-block;
    cursor: pointer;
}

.upload-avatar input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.tutor-avatar,
.cuidador-avatar,
.usuario-avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #457B9D;
    object-fit: cover;
    margin-right: 20px;
    cursor: pointer;
}

.perfil-header h2,
.nomePet-perfil {
    font-size: 1.6rem;
    color: #1D3557;
    font-weight: 700;
}

.preco-hora{
    margin-bottom: 15px !important;
    font-weight: 500;
}

.perfil-header .btn-agendar {
    position: absolute;
    right: 40px;
    background-color: #E76F51;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.meu-perfil p {
    font-size: 1.1rem;
    color: #3e3e3f;
    margin: 10px 0;
}

.meu-perfil .avaliacoes {
    display: flex;
}

.header{
    flex-direction: column;
}

.estrelas i {
    color: #FFD700; 
    font-size: 1.2rem;
    margin-right: 5px;
}

.estrelas i.filled {
    color: #FFD700; 
}

.estrelas i {
    color: #ccc; 
}

#total{
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

#media{
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.filled {
    color: #FFD700;
}

.empty {
    color: #ccc; 
}

.fa-star-half-alt {
    color: #FFD700; 
}

.avatar-cuidador , .avatar-tutor{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #1D3557;
    object-fit: cover;
    margin-right: 20px;
  }

form {
    margin: 0;
}

/* Estilos para as seções adicionais */
.meu-perfil .section {
    margin-top: 15px;
}

.experiencia,
.disponibilidade-card,
.comentarios-card,
.preco {
    background-color: #f6fcf4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 40px;
    position: relative;
}

.disponibilidade{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.disponibilidade ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#disponibilidade-texto{
    margin-left: 50px;
}

.disponibilidade p {
    margin: 10px 0;
}

.disponibilidade-card .btn-editar{
    margin: 0;
    position: absolute;
    top: 15px;
    right: 80px;
    background-color: #E76F51;
    color: #fff;
    font-size: 1rem;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.flatpickr-day.flatpickr-disabled{
    background-color: white !important;
    cursor: default !important;
    color: #393939 !important; 
    border-radius: 0 !important;
    font-size: 1rem !important;
}

.disponibilidade-card .btn-editar:hover{
    background-color: #ee5028;
}

#calendario-disponibilidade {
    width: 100%; /* Faz o calendário ocupar toda a largura disponível */
    max-width: 600px; /* Limita a largura máxima do calendário */
    margin: 0 auto; /* Centraliza o calendário */
}

.flatpickr-day {
    background-color: #66dd82 !important;
    color: white !important; 
    border-radius: 0 !important;
    cursor: default !important;
    font-size: 1rem !important;
}

.section-pets {
    margin-top: 60px;
}

.section {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    /* background-color: #A8DADC; */
    background-color: #d7e2e2;
    margin: 0 20px;
}

.infos-cuidador{
    margin-top: 50px;
}

.section h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #1D3557;
    margin-top: 0;
    font-weight: 800;
    text-align: center;
}

.bio h3 {
    font-size: 1.5rem;
    padding-top: 40px;
    text-align: justify;
}

.editar-bio,
.editar-experiencia {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: #1D3557;
}

.bioInput,
.experienciaInput {
    width: auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #f6fcf4;
    outline: none;
    box-sizing: border-box;
    font-size: 1.1rem;
    color: #555;
}

.experienciaInput{
    background-color: #d7e2e2 ;
    max-width: 100%;
}

.salvar-bio,
.salvar-experiencia {
    background: #E76F51;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

.salvar-bio:hover,
.salvar-experiencia:hover {
    background-color: #ee5028;
}

.comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comentario {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #585656;
    width: 60%;
}

.comentario p {
    margin: 10px 0;
}

.comentario small {
    color: #666;
    font-size: 0.8rem;
}

.comentario-header{
    display: flex;
    align-items: center;
}


form .input-preco-unique {
    margin-bottom: 15px;
}

form .input-preco-unique label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

form .input-preco-unique input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

form .input-preco-unique input[type="number"]:focus {
    border-color: #007bff;
}

form .btn-salvar-preco {
    width: 100%;
    padding: 12px;
    background-color: #E76F51;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form .btn-salvar-preco:hover {
    background-color: #ee5028;
}

form .btn-salvar-preco:active {
    background-color: #ee5028;
}

/* Estilo do botão editar disponibilidade */

#btn-editar:active {
    background-color: #ee5028;
}

/* Estilo do formulário de disponibilidade */
#form-disponibilidade {
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    width: 50%;
}

#form-disponibilidade .input-dia {
    margin-bottom: 15px;
}

#form-disponibilidade .input-dia label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

#form-disponibilidade input[type="time"] {
    padding: 8px;
    font-size: 1rem;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
}

#form-disponibilidade input[type="time"]:focus {
    border-color: #ee5028;
}

#form-disponibilidade .btn-salvar {
    width: 100%;
    padding: 12px;
    background-color: #E76F51;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#form-disponibilidade .btn-salvar:hover {
    background-color: #ee5028;
}

#form-disponibilidade .btn-salvar:active {
    background-color: #ee5028;
}
