/* Políticas de Privacidade */

.politica-privacidade h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1D3557;
    font-weight: 700;
}

.politica-privacidade p {
    margin-bottom: 20px;
    color: #3e3e3f;
}