.informacoes-pessoais,
.trocar-senha,
.excluir-conta {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%; /* Garante que a largura seja responsiva */
    max-width: 800px; /* Limita a largura máxima */
    margin: 0 auto;
    overflow: hidden;
}

.textfield {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.btn-editar {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.textfield > input {
    border: none;
    border-radius: 10px;
    padding: 6px;
    background: #d5dada;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    margin-left: 10px;
    width: 100%; 
    max-width: 100%;
}

.textfield > label {
    color: #000;
    margin-right: 3px;
}

.btn-salvar,
.btn-trocar-senha {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin-top: 20px;
    width: 100%; /* Botões ocupam toda a largura */
}

.btn-salvar:hover,
.btn-trocar-senha:hover {
    background: rgba(0, 0, 0, 0.6);
}

/* Estilos específicos para excluir conta */
.excluir-conta {
    text-align: center;
}

.excluir-conta p {
    font-size: 16px;
    margin: 20px 0;
}

.btn-excluir {
    background-color: #ff4b5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-excluir:hover {
    background-color: #e43d50;
}

.btn-cancelar {
    margin-top: 10px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 8px 16px;
    border-radius: 5px;
}

.btn-cancelar:hover {
    background-color: #333;
    color: white;
}