.principais-informacoes,
.trocar-senha,
.excluir,
.endereco {
    background-color: #f6fcf4;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%; /* Garante que a largura seja responsiva */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 1000px;
}

.principais-informacoes:hover,
.endereco:hover,
.trocar-senha:hover,
.excluir:hover {
    transform: scale(1.02); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.textfield {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #3e3e3f;
}

.btn-editar {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: #1D3557;
}

.textfield > input {
    border: none;
    border-radius: 10px;
    padding: 6px;
    background: #b5d6d6;
    color: #3e3e3f;
    font-size: 12pt;
    outline: none;
    margin-left: 10px;
    width: 100%; 
    max-width: 100%;
}

.textfield > label {
    color: #3e3e3f;
    margin-right: 3px;
}

.btn-salvar,
.btn-trocar-senha {
    background-color: #E76F51;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin-top: 20px;
    width: 100%; 
}

.btn-salvar:hover,
.btn-trocar-senha:hover {
    background: #ee5028;
}

/* Estilos específicos para excluir conta */
.excluir-conta {
    text-align: center;
}

.excluir p {
    font-size: 16px;
    margin: 20px 0;
    color: #3e3e3f;
}

.btn-excluir {
    background-color: #E76F51;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-excluir:hover {
    background-color: #ee5028;
}

.btn-cancelar {
    margin-top: 15px;
    display: inline-block;
    color: #3e3e3f;
    text-decoration: none;
    border: 1px solid #3e3e3f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn-cancelar:hover {
    background-color: #3e3e3f;
    color: white;
}