h1{
    font-weight: 800;
    color:#1D3557;
    margin-left: 20px;
}

.meu-perfil {
    display: flex;
    flex-direction: column;
}

.meu-perfil .perfil-header {
    display: flex;   
    align-items: center;
}

.upload-avatar { 
    display: inline-block;
    cursor: pointer;
}

.upload-avatar input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0; /* Torna o input invisível */
    cursor: pointer;
}

.tutor-avatar , .cuidador-avatar, .usuario-avatar {
    width: 140px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #457B9D;
    object-fit: cover;
    margin-right: 20px;
    cursor: pointer;
}

.perfil-header h2 , .nomePet-perfil {
    font-size: 1.6rem;
    color: #1D3557;
    margin: 0 0 5px 12px;
    font-weight: 700;
}

.meu-perfil p {
    font-size: 1.1rem;
    color: #3e3e3f;
    margin: 0;
}

.meu-perfil .info-label {
    font-weight: bold;
    margin-left: 10px;
}

.meu-perfil .avaliacao {
    margin-top: 10px;
    font-size: 1.3rem;
    color: #ffc107;
}

form{
    margin: 0;
}

/* Estilos para as seções adicionais */
.meu-perfil .section {
    margin-top: 15px;
}

.experiencia, .disponibilidade{
    background-color: #f6fcf4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 40px;
}

.experiencia:hover, .disponibilidade:hover{
    transform: scale(1.02); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.section-pets{
    margin-top: 60px;
}

.section{
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background-color: #A8DADC;
    margin: 0 20px;
}

.section h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color:#1D3557;
    margin-top: 0;
    font-weight: 800;
    text-align: center;
}

.bio h3{
    font-size: 1.5rem;
    padding-top: 40px;
    text-align:justify;
}

.editar-bio , .editar-experiencia{
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color:#1D3557;
}

.experienciaInput{
    background: #64b34a;
    width: auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    font-size: 1.1rem;
    color: #555;
}

.bioInput {
    width: auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #f6fcf4;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    font-size: 1.1rem;
    color: #555;
}

.salvar-bio , .salvar-experiencia{
    background: #E76F51;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

.salvar-bio:hover , .salvar-experiencia:hover{
    background-color: #ee5028;
}