#divBusca{
    display: flex;
    justify-content: center;
    gap: .1%;
}

.cuidadores {
    padding: 100px 20px 20px;
    /* Espaçamento superior para evitar a navbar */
    background-color: #f9f9f9;
}

.cuidadores h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

/* Estilo dos blocos de cuidadores */
.cuidador {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    /* Necessário para o posicionamento absoluto do botão */
}

/* Estilo do avatar do cuidador */

.cuidador-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #007bff;
    object-fit: cover;
    margin-right: 20px;
}

/* Estilo dos detalhes do cuidador */
.details h3 {
    margin: 0;
    font-size: 20px;
    color: #007bff;
}

.details p {
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
    color: #555;
}

/* Estilo do botão de agendamento */
.schedule-button {
    position: absolute;
    /* Posiciona o botão na parte direita */
    right: 40px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.schedule-button:hover {
    background-color: #0056b3;
}

