/* chat.css */

/* Estilo para o container geral do chat */
#chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: hidden;
}

/* Cabeçalho do chat */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Div de mensagens */
#mensagens {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 20px;
    max-height: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Mensagens do remetente */
.mensagem-remetente {
    background-color: #007bff;
    color: white;
    text-align: right;
    margin-left: auto;
    float: right;
}

/* Mensagens do destinatário */
.mensagem-recebida {
    background-color: #f1f1f1;
    color: #333;
    text-align: left;
    float: left;
}

.mensagem-recebida, .mensagem-remetente {
    display: block;
    max-width: 70%; 
    padding: 10px 15px;
    border-radius: 8px;
    margin: 8px 0;
    word-wrap: break-word; 
    clear: both;
}

/* Estilo para o input de mensagem */
.enviar-mensagem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* Estilo para o campo de input de texto */
#mensagem {
    width: 85%;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
    outline: none;
}

/* Estilo para o botão de envio */
#enviar {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito ao passar o mouse sobre o botão de envio */
#enviar:hover {
    background-color: #0056b3;
}

/* Estilo para esconder elementos invisíveis */
#agendamento_id, #id_remetente, #id_destinatario {
    display: none;
}

#destinatario-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px #0056b3;
    margin: 0 10px;
    object-fit: cover;
    cursor: pointer;
}

.nome-destinatario {
    font-size: 16px;
    font-weight: bold;
}
