* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f6fcf4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    font-weight: 800;
    color:#1D3557;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 90px 20px 20px 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .cuidador-info {
    display: flex;   
    align-items: center;
    margin-bottom: 20px;
}

.cuidador-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #457B9D;
    object-fit: cover;
    margin-right: 20px;
    cursor: pointer;
}

.cuidador-info h2 {
    font-size: 1.6rem;
    color: #1D3557;
    margin: 0 0 5px 0px;
    font-weight: 700;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.1rem;
    color: #3e3e3f;
    margin: 0;
}

.container .info-label {
    font-weight: bold;
    margin-left: 10px;
}

.section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

select{
    border: none;
    border-radius: 10px;
    padding: 5px;
    background: #d7dfdf;
    color: #000;
    font-size: 12pt;
    outline: none;
    margin: 10px 0;
} 
 
input, textarea, .btn-agendar-servico {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

.btn-agendar-servico {
    background-color: #E76F51;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.btn-agendar-servico:hover {
    background-color: #e4603f;
}

#data-servico{
    width:auto; 
    text-align:center;
    margin-bottom: 5px;
}

/* Pets */

.pet{
    display: inline-block;
    margin: 20px 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px;
}

.pet-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.pet-checkbox:checked + img, 
.pet-checkbox:checked + .nomePet-perfil {
    border: 3px solid #fa0000; 
    background-color: #f0f0f0;
}

.pet img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3.5px solid #457B9D;
}

.pet h2{
    font-size: 1rem;
}

@media (max-width: 480px) {
    #data-agendamento {
        max-width: 100%; 
    }
}
