/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Configuração da página */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    overflow-x: hidden;
}

/* Hero Section */
.hero {
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: left;
    color: #1D3557;
    padding: 0 20px;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    margin-top: 56px;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 25px;
    margin-top: 30px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.cta-button {
    background-color: #1D3557;
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #2e5386;
}

/* Container da imagem do cachorro */
.dog-walking {
    position: absolute; /* Usar posição absoluta para a imagem */
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%); /* Centralizar horizontalmente */
    z-index: -1; /* Garantir que a imagem fique atrás de outros elementos */
    max-width: none; /* Remover a limitação de tamanho máximo */
    width: 400px;
    height: 400;
}

@media (max-width: 768px) {
    .dog-walking {
        width: 100%; /* Aumentar a largura da imagem no celular */
        max-width: none;
        height: auto; /* Manter a altura proporcional */
    }
}


/* Serviços */
.services-section,
.highlights,
.about-section,
.testimonials {
    padding: 100px 20px;
    text-align: center;
}

.services-section {
    background-color: #f4f4f4;
}

.highlights,
.testimonials {
    background-color: #fff;
}

.about-section {
    background-color: #007bff;
    color: #fff;
}

.services-section h2,
.highlights h2,
.about-section h2,
.testimonials h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
}

.services-section h2 {
    color: #333;
}

/* Container de cards */
.card-container,
.highlight-container,
.testimonial-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.card,
.highlight,
.testimonial {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    min-height: 250px;
}

.card h3,
.highlight h3,
.testimonial p:last-child {
    font-weight: bold;
    color: #333;
}

.card h3 {
    color: #ff6b6b;
    margin-bottom: 15px;
}

.highlight h3 {
    color: #007bff;
    margin-bottom: 15px;
}

.card p,
.highlight p,
.testimonial p {
    font-size: 1rem;
    color: #666;
}

.testimonial p:last-child {
    font-weight: bold;
    color: #333;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.footer .newsletter input {
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 60%;
    margin-right: 10px;
}

.footer .newsletter button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer .newsletter button:hover {
    background-color: #ff4b4b;
}

.footer .social-media a {
    color: #ff6b6b;
    margin: 0 10px;
    text-decoration: none;
}

.footer .social-media a:hover {
    color: #ff4b4b;
}

.footer p {
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .card-container {
        gap: 20px;
    }

    .card {
        max-width: 250px;
        max-height: 300px;
    }
}

@media (max-width: 768px) {
    .card-container {
        gap: 10px;
    }

    .card {
        padding: 15px;
        max-width: 100%;
        max-height: 270px;
    }

    .card h3 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 0.9rem;
    }
}

/* Ajustando para o carrossel Slick */
.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-prev,
.slick-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: #ff6b6b;
}

.slick-dots li.slick-active button:before {
    color: #ff4b4b;
}

.user-info img {
    margin-right: 5px;
}

.p-Highlight {
    padding-bottom: 60px;
}
