@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Estilo geral */
body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
#mensagem-erro {
    background-color: #ffe5e5;
    color: #d9534f;
    padding: 15px;
    border: 1px solid #d9534f;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}

.validar-email{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 2px solid #457B9D;
    border-radius: 16px;
    background-color: #A8DADC;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.seta-voltar {
    width: 20px;
    position: absolute;
    left: 30px;
    top: 10px;
 }

/* Formulário de validação */
#form-validacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#form-validacao input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#form-validacao button {
    background: #E76F51;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 100%;
}

#form-validacao button:hover {
    background-color: #ee5028;
}

/* Botões extras */
#btn-reenviar-confirmacao, #btn-trocar-email, #confirmar-troca {
    background-color: #2f4d77;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

#btn-reenviar-confirmacao:hover, #btn-trocar-email:hover, #confirmar-troca:hover {
    background-color: #0a589c;
}

/* Mensagens */
#mensagem-reenvio {
    color: green;
    margin-top: 10px;
    text-align: center;
}

#trocar-email-container {
    font-family: Open Sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#trocar-email-container input[type="text"] {
    font-family: Open Sans;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
